body {
    padding-top: 60px;
}

#biography {
    background-color: #00777d;
}

#quotes {
    background-color: #00777d;
}

blockquote {
    max-width: 600px;
    margin: 10px 30px;
    pad: 25px;
    box-sizing: border-box;
}

.blockquote-text {
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

.card-img-top {
    width: auto;
    height: 25vw;
}

.d-block.w-100 {
    width:640px;
    height:560px;
}

.carousel-caption {
    padding: 5px;
    position: relative;
    height: 220px;
    left: 0;
    top: 0;
    background-color: #00777d;
}

@media(max-width:979px){
    body{
        padding-top: 0px;
    }
}